In [1]:
import pandas as pd
import random
import numpy as np
from pandas import read_csv
from matplotlib import pyplot
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'/Users/clairechour'

In [3]:
# DATA CLEANING

In [4]:
# Clean states dataset

In [5]:
path = r'final_proj_data/covid19/4.18states.csv'
states = pd.read_csv(path)
states.head(1)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-04-18 22:32:47,32.3182,-86.9023,4712,153,NaN,4559.0,1.0,100.492717,42538.0,620.0,3.247029,84000001,USA,907.206961,13.157895

In [6]:
states = states.drop(columns=['Last_Update', 'FIPS', 'Incident_Rate']).iloc[:,:11]
states = states.rename(columns={'Long_' : 'Lon'})
states

,Province_State,Country_Region,Lat,Lon,Confirmed,Deaths,Recovered,Active,People_Tested,People_Hospitalized,Mortality_Rate
0,Alabama,US,32.3182,-86.9023,4712,153,NaN,4559.0,42538.0,620.0,3.247029
1,Alaska,US,61.3707,-152.4044,314,9,147.0,305.0,9655.0,39.0,2.866242
2,American Samoa,US,-14.2710,-170.1320,0,0,NaN,NaN,3.0,NaN,NaN
3,Arizona,US,33.7298,-111.4312,4724,180,539.0,4544.0,51045.0,566.0,3.810330
4,Arkansas,US,34.9697,-92.3731,1744,38,703.0,1706.0,24141.0,291.0,2.178899
...,...,...,...,...,...,...,...,...,...,...,...
135,Xinjiang,China,41.1129,85.2401,76,3,73.0,0.0,NaN,NaN,3.947368
136,Yukon,Canada,64.2823,-135.0000,9,0,0.0,9.0,NaN,NaN,0.000000
137,Yunnan,China,24.9740,101.4870,184,2,177.0,5.0,NaN,NaN,1.086957
138,Zhejiang,China,29.1832,120.0934,1268,1,1246.0,21.0,NaN,NaN,0.078864
139,Grand Princess,Canada,NaN,NaN,13,0,0.0,13.0,NaN,NaN,0.000000

In [7]:
number_of_cases_by_country = pd.DataFrame(states)
number_of_cases_by_country = number_of_cases_by_country.drop(columns=['Lat', 'Lon']).iloc[:,:6]
number_of_cases_by_country = number_of_cases_by_country.groupby(by=['Country_Region']).sum() 
number_of_cases_by_country

                Confirmed  Deaths  Recovered    Active
Country_Region
Australia            6547      67     4124.0    2356.0
Canada              34356    1400    10964.0   21992.0
China               83787    4636    77614.0    1537.0
Denmark               195       0      184.0      11.0
France               1180      22      604.0     554.0
Netherlands           177      12       67.0      98.0
US                 732197   38664   116230.0  628693.0
United Kingdom       1097      34      414.0     649.0

In [8]:
# Clean abridged counties dataset

In [9]:
path = r'final_proj_data/covid19/abridged_couties.csv'
abridged_counties = pd.read_csv(path)
abridged_counties.head(1)

,countyFIPS,STATEFP,COUNTYFP,CountyName,StateName,State,lat,lon,POP_LATITUDE,POP_LONGITUDE,...,>500 gatherings,public schools,restaurant dine-in,entertainment/gym,federal guidelines,foreign travel ban,SVIPercentile,HPSAShortage,HPSAServedPop,HPSAUnderservedPop
0,01001,1.0,1.0,Autauga,AL,Alabama,32.540091,-86.645649,32.500389,-86.494165,...,737497.0,737500.0,737503.0,737512.0,737500.0,737495.0,0.4354,NaN,NaN,NaN

In [10]:
abridged_counties.columns

Index(['countyFIPS', 'STATEFP', 'COUNTYFP', 'CountyName', 'StateName', 'State',
       'lat', 'lon', 'POP_LATITUDE', 'POP_LONGITUDE', 'CensusRegionName',
       'CensusDivisionName', 'Rural-UrbanContinuumCode2013',
       'PopulationEstimate2018', 'PopTotalMale2017', 'PopTotalFemale2017',
       'FracMale2017', 'PopulationEstimate65+2017',
       'PopulationDensityperSqMile2010', 'CensusPopulation2010',
       'MedianAge2010', '#EligibleforMedicare2018',
       'MedicareEnrollment,AgedTot2017', '3-YrDiabetes2015-17',
       'DiabetesPercentage', 'HeartDiseaseMortality', 'StrokeMortality',
       'Smokers_Percentage', 'RespMortalityRate2014', '#FTEHospitalTotal2017',
       'TotalM.D.'s,TotNon-FedandFed2017', '#HospParticipatinginNetwork2017',
       '#Hospitals', '#ICU_beds', 'dem_to_rep_ratio', 'PopMale<52010',
       'PopFmle<52010', 'PopMale5-92010', 'PopFmle5-92010', 'PopMale10-142010',
       'PopFmle10-142010', 'PopMale15-192010', 'PopFmle15-192010',
       'PopMale20-242010', 'PopFmle20-242010', 'PopMale25-292010',
       'PopFmle25-292010', 'PopMale30-342010', 'PopFmle30-342010',
       'PopMale35-442010', 'PopFmle35-442010', 'PopMale45-542010',
       'PopFmle45-542010', 'PopMale55-592010', 'PopFmle55-592010',
       'PopMale60-642010', 'PopFmle60-642010', 'PopMale65-742010',
       'PopFmle65-742010', 'PopMale75-842010', 'PopFmle75-842010',
       'PopMale>842010', 'PopFmle>842010', '3-YrMortalityAge<1Year2015-17',
       '3-YrMortalityAge1-4Years2015-17', '3-YrMortalityAge5-14Years2015-17',
       '3-YrMortalityAge15-24Years2015-17',
       '3-YrMortalityAge25-34Years2015-17',
       '3-YrMortalityAge35-44Years2015-17',
       '3-YrMortalityAge45-54Years2015-17',
       '3-YrMortalityAge55-64Years2015-17',
       '3-YrMortalityAge65-74Years2015-17',
       '3-YrMortalityAge75-84Years2015-17', '3-YrMortalityAge85+Years2015-17',
       'mortality2015-17Estimated', 'stay at home', '>50 gatherings',
       '>500 gatherings', 'public schools', 'restaurant dine-in',
       'entertainment/gym', 'federal guidelines', 'foreign travel ban',
       'SVIPercentile', 'HPSAShortage', 'HPSAServedPop', 'HPSAUnderservedPop'],
      dtype='object')

In [11]:
abridged_counties = abridged_counties.iloc[:,4:81]
abridged_counties = abridged_counties.drop(abridged_counties.iloc[:, 3:65], inplace = True, axis = 1) 
abridged_counties
# drop all columns besides last few + smoker, heart disease

In [12]:
# Clean confirmed cases dataset

In [13]:
path = r'final_proj_data/covid19/time_series_covid19_confirmed_US.csv'
confirmed = pd.read_csv(path)
confirmed.head(1)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271,-170.132,...,0,0,0,0,0,0,0,0,0,0

In [14]:
confirmed.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20',
       '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20',
       '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20',
       '4/15/20', '4/16/20', '4/17/20', '4/18/20'],
      dtype='object')

In [15]:
confirmed_dates = confirmed.iloc[:,6:].drop(columns=['Lat', 'Long_', 'Combined_Key'])
confirmed_dates

,Province_State,Country_Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,American Samoa,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Guam,US,0,0,0,0,0,0,0,0,...,128,130,133,133,133,133,135,135,136,136
2,Northern Mariana Islands,US,0,0,0,0,0,0,0,0,...,11,11,11,11,11,11,13,13,13,14
3,Puerto Rico,US,0,0,0,0,0,0,0,0,...,683,725,788,897,903,923,974,1043,1068,1118
4,Virgin Islands,US,0,0,0,0,0,0,0,0,...,45,50,51,51,51,51,51,51,51,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3250,Wisconsin,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3251,Wyoming,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3252,Grand Princess,US,0,0,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
3253,Michigan,US,0,0,0,0,0,0,0,0,...,0,0,0,0,370,429,472,472,514,550
3254,Michigan,US,0,0,0,0,0,0,0,0,...,0,0,0,0,21,23,36,36,44,45

In [16]:
# Clean death cases dataset

In [17]:
path = r'final_proj_data/covid19/time_series_covid19_deaths_US.csv'
deaths = pd.read_csv(path)
deaths.head(1)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271,-170.132,...,0,0,0,0,0,0,0,0,0,0

In [18]:
deaths.columns

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_', 'Combined_Key', 'Population',
       '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
       '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
       '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
       '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
       '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
       '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20',
       '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20',
       '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20',
       '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20',
       '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20',
       '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20',
       '4/7/20', '4/8/20', '4/9/20', '4/10/20', '4/11/20', '4/12/20',
       '4/13/20', '4/14/20', '4/15/20', '4/16/20', '4/17/20', '4/18/20'],
      dtype='object')

In [19]:
death_dates = deaths.iloc[:,6:].drop(columns=['Lat', 'Long_', 'Combined_Key'])
death_dates

,Province_State,Country_Region,Population,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,American Samoa,US,55641,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Guam,US,164229,0,0,0,0,0,0,0,...,4,4,5,5,5,5,5,5,5,5
2,Northern Mariana Islands,US,55144,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
3,Puerto Rico,US,2933408,0,0,0,0,0,0,0,...,33,39,42,44,45,45,51,56,58,60
4,Virgin Islands,US,107268,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3250,Wisconsin,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3251,Wyoming,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
3252,Grand Princess,US,0,0,0,0,0,0,0,0,...,3,3,3,0,0,0,0,0,0,0
3253,Michigan,US,0,0,0,0,0,0,0,0,...,0,0,0,0,8,9,12,12,15,17
3254,Michigan,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# WORK ON MODEL

In [21]:
# Question:
# Suppose you wanted to model the number of coronavirus cases in the US
# predictive model of future cases (linear regression, decision tree, random forest)
# inference-- number of cases, linear regression-- what region are they in, get coefficients for variables
# regions in n america may develop more cases than asia
# line plot
# What kind of model and features would you use?
# visualizations have some kind of purpose
# plot the number of cases by date in the US
# drop the dates w NaN dropna

In [22]:
# Bar graph of number of cases in each country

In [30]:
number_of_cases_by_country = number_of_cases_by_country.plot(kind='bar')

AttributeError: 'list' object has no attribute 'plot'